.ImageViewerContainer {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #39393939;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 8192;
    animation-name: fadeIn;
    animation-duration: 0.39s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.ImageViewer {
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 75vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    animation-name: scaleIn;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    padding: 15px;
    position: relative;
}

.ImageContainer {
    display: flex;
    width: 50%;
    height: 95%;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000058;
    box-sizing: border-box;
}

.DataContainer {
    display: flex;
    width: 45%;
    height: 95%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    margin: 39px 20px 20px 0px;
    flex-direction: column;
    gap: 0;
}

p {
    margin: 0;
}

.HorizontalDivider {
    display: flex;
    height: 0.2vh;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-color: #8e8e8e;
}

.DataFileIndex {
    font-weight: bold;
    color: #868686;
}

.DataFileName {
    color: #525252;
    font-size: 2.7vh;
    margin-top: 0.39vh;
    margin-bottom: 0.2vh;
}

.ImageStyle {
    display: flex;
    width: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}

@keyframes scaleIn {
    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
}